/* https://www.w3schools.com/howto/howto_css_loader.asp */

.change-down, .fa-arrow-down {
    color: #d9534f;
}

.change-up, .fa-arrow-up {
    color: #5cb85c;
}

.chart {
    margin: 0 auto 20px;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

h2.quote-price {
    display: inline-block;
    margin-top: 0;
}

h3.quote-change {
    display: inline-block;
    margin-left: 10px;
    margin-top: 0;
}

.index-tables {
    max-height: 450px;
}

.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    margin: 20px auto;
    width: 120px;
    height: 120px;
    animation: spin 2s ease infinite;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.quote-cell {
    border: 1px dashed #e9e9e9;
    cursor: pointer;
}

.quote-cell[data-name="open"],
.quote-cell[data-name="low"],
.quote-cell[data-name="high"],
.quote-cell[data-name="previous_close"],
.quote-cell[data-name="52wk_high"],
.quote-cell[data-name="52wk_low"] {
    border: 1px dashed #ff7043;
}

.quote-cell[data-name="volume"].active, .quote-cell[data-name="volume"]:hover {
    background-color: #9cc3e2;
}

.quote-cell[data-name="dividend_yield"].active, .quote-cell[data-name="dividend_yield"]:hover,
.quote-cell[data-name="annual_dividend"].active, .quote-cell[data-name="annual_dividend"]:hover {
    background-color: #bcbddc;
}

.quote-cell[data-name="open"].active, .quote-cell[data-name="open"]:hover,
.quote-cell[data-name="low"].active, .quote-cell[data-name="low"]:hover,
.quote-cell[data-name="high"].active, .quote-cell[data-name="high"]:hover,
.quote-cell[data-name="previous_close"].active, .quote-cell[data-name="previous_close"]:hover,
.quote-cell[data-name="52wk_high"].active, .quote-cell[data-name="52wk_high"]:hover,
.quote-cell[data-name="52wk_low"].active, .quote-cell[data-name="52wk_low"]:hover {
    background-color: #ffc3a3;
}

.quote-cell[data-name="earnings_per_share"].active, .quote-cell[data-name="earnings_per_share"]:hover,
.quote-cell[data-name="price_earnings"].active, .quote-cell[data-name="price_earnings"]:hover {
    background-color: #a1d99b;
}

.quote-cell.active, .quote-cell:hover {
    background-color: #e9e9e9;
}

.quote-cell.active small, .quote-cell:hover small {
    color: #555;
}

.quote-cell-title {
    margin-top: 0;
}

@keyframes spin {
    0% {  transform: rotate(0deg);  }
    100% {  transform: rotate(360deg);  }
}