/* https://www.w3schools.com/howto/howto_css_loader.asp */

.change-down, .fa-arrow-down {
    color: #d9534f;
}

.change-up, .fa-arrow-up {
    color: #5cb85c;
}

.chart {
    margin: 0 auto 20px;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

h2.quote-price {
    display: inline-block;
    margin-top: 0;
}

h3.quote-change {
    display: inline-block;
    margin-left: 10px;
    margin-top: 0;
}

.index-tables {
    max-height: 450px;
}

.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    margin: 20px auto;
    width: 120px;
    height: 120px;
    animation: spin 2s ease infinite;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.quote-cell {
    border: 1px dashed #e9e9e9;
    cursor: pointer;
}

.quote-cell[data-name="volume"].active, .quote-cell[data-name="volume"]:hover {
    background-color: #9cc3e2;
}

.quote-cell[data-name="dividend_yield"].active, .quote-cell[data-name="dividend_yield"]:hover {
    background-color: #bcbddc;
}

.quote-cell.active, .quote-cell:hover {
    background-color: #ffc3a3;
}

.quote-cell.active small, .quote-cell:hover small {
    color: #555;
}

.quote-cell-title {
    margin-top: 0;
}

@keyframes spin {
    0% {  transform: rotate(0deg);  }
    100% {  transform: rotate(360deg);  }
}