/* https://www.w3schools.com/howto/howto_css_loader.asp */

.fa-arrow-down {
    color: #d9534f;
}

.fa-arrow-up {
    color: #5cb85c;
}

.index-tables {
    max-height: 450px;
}

.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    margin: 20px auto;
    width: 120px;
    height: 120px;
    animation: spin 2s ease infinite;
}

@keyframes spin {
    0% {  transform: rotate(0deg);  }
    100% {  transform: rotate(360deg);  }
}