{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site description">
        <meta name="author" content="Eric Su">

        <!-- styles -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet">
        {% stylesheet 'marketviz_css' %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <!-- JS scripts -->
        {% javascript 'marketviz_js' %}
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
